.verde{
    background-color: #85D4B7;
}

.centrartexto{
    
    padding: 15px;
    text-align: center;
}

div a{
    color: white;
}

.otrocolor{
    background-color: #6DCCAA;
}

.opnav{
    height: 60px;
    margin-bottom: 3px;

}


.img-max{
    max-height: 500px;
    object-position: center;
    
    
}

.centrar-texto{
    text-align: center;
}

.letracarru h5{
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    z-index: 9;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: all 0.25s linear;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    display: inline-block;
    font-size: 25px;
}

.borde{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.imagen{
    margin-top:20px;
    width: 60%;

}
#izquierdo{
    text-align: left;
    float: left;
}
#derecho{
    text-align: right;
    margin-top: 10px;
}

#perro{
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 5px;
}

.galeria{
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.galeria a img{
    transition: 1s;
    margin: 2px;
}

.galeria a img:hover{
    transform: scale(1.2)
}
