
div a{
    color: white;
    text-decoration: none;
    text-align: center;
    
    
}




.margin{
    margin-bottom: 3px;
}

.centrado{
    vertical-align: middle;
}
.center-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 350px;
    margin-top:10px;
    margin-bottom: 60px;
}
.centrar-texto{
    text-align: center;
}

.text{
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 30px;
    align-content: center;
}



.img-max{
    max-height: 500px;
    object-position: center;
    
    
}
.padin{
    padding: 1%;
}

#izquierdo{
    text-align: left;
}

#derecho{
    text-align: right;
}

div button{
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    background-color:  #c8d6e5;
    padding: 5px;
}